$default-color: #000;
$color-gray: #333;
$color-white: #fff;
$color-blue: #3aa3e4;
$color-btn-blue: #499ed3;
$color-blueGreen-light: #25daa9;
$color-running: #DC143C;
$color-swimming: #8B008B;
$color-crossfit: #228B22;
$color-fitness: #FF4500;
$color-mma: #2F4F4F;
$color-steelBlue: #4682B4;
$color-lightGray: #D3D3D3;
$color-green: #3b9739;
$color-error: #FF0000;

$default-font: "PT Sans", san-serif;
$default-font-bold: "PT SansBold", san-serif;

$fa-font-path: "../../fonts/fontawesome";