.aside {
    padding: 0 10px;
}


.tags {
    margin-bottom: 30px;
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 10px;
    }

    &__item {
        border: none;
        padding: 0;
    }
}

.category {
    margin-bottom: 30px;
}

.social {
    &__list {
        flex-direction: row;
        justify-content: center;
        padding: 20px 10px;
    }

    &__item {
        padding: 0 10px;
        border: none;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.2;
        }
    }

    &__link {
        font-size: rem(40);
        &-tw {
            @include before-after($fa-var-twitter-square);
            &::before {
                position: static;
            }
        }

        &-fb {
            @include before-after($fa-var-facebook-square);
            &::before {
                position: static;
            }
        }

        &-inst {
            @include before-after($fa-var-instagram);
            &::before {
                position: static;
            }
        }
    }
}